<div class="table-container">

  <h2 style="margin-bottom: 15px;">Quotation List</h2>
<div>
  <!-- 🔍 SEARCH BAR -->
  <div class="search-bar">
    <input 
      type="text"
      placeholder="Search by Customer or Quotation No..."
      [(ngModel)]="searchText"
      (input)="filterQuotations()"
    />
  </div>

  <!-- TABLE -->
  <table class="table">
    <thead>
      <tr>
        <th>Sl No</th>
        <th>Quotation No</th>
        <th>Date</th>
        <th>Customer</th>
        <th>Total</th>
        <th style="width:150px;">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let q of filteredQuotations; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ q.quote_no }}</td>
       <td>{{ q.created_at | date:'dd-MMM-yyyy' }}</td>

        <td>{{ q.customer_name }}</td>
<td>₹ {{ getGrandTotal(q) }}</td>

        <td class="action-cell">

          <!-- View -->
       <div class="action-icons">

  <!-- View -->
  <button class="icon-action view" (click)="viewQuotation(q.id)" title="View">
    <mat-icon>visibility</mat-icon>
  </button>

  <!-- Edit -->
  <button class="icon-action edit" (click)="goToEdit(q.id)" title="Edit">
    <mat-icon>edit</mat-icon>
  </button>

  <!-- Delete -->
  <button class="icon-action delete" (click)="deleteQuotation(q.id)" title="Delete">
    <mat-icon>delete</mat-icon>
  </button>

</div>

        </td>
      </tr>
    </tbody>
  </table>
  </div>

</div>
